.container-fluid {
    border: 1px solid black;
}



.menu {
    border: 1px solid black;
    background-color: slategrey;
}
.logo img {
    width: 80px;
    height: 50px;
}

.banner img {
    width: 100%;
    height: 150px;
    object-fit: cover;

}

.banner {
    width: 100%;
    height: 150px;
    border: 1px solid black;
    background-image: url(./image/banner.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;

}

.navbar a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgba(252, 14, 160, 0.966);
}

.col-4 {
    border: 1px solid black;
}

.photo {
    background-image: url(./image/clinetphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    text-align: center;
    background-color: darkgrey;
    font-weight: bold;
    height: 30px;
}